<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>My Calculator</title>
</head>
<body>

   <div class="container  w-50 mt-5">
       <img src="/img/comit.png" alt="ComIT logo"> 
        <div class="jumbotron mt-2 py-4">
		  <h1 class="display-4">My Calculator!</h1>
		  <p class="lead text-muted">This is a Calculator with the basic arithmetic operations like Addition, Subtraction, Division, Multiplication and Modulus.</p>
		  <hr class="my-4">
		  <p>Please input two numbers and choose an operation.</p>
		   <form action="/calculator" method="post" >
			   <div class="form-group row">
			    <label for="num1" class="col-sm-3 col-form-label text-right">number1:</label>
			    <div class="col-sm-5">
			      <input type="number" class="form-control" step="any" id="num1" name="num1" th:value="${num1}" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="num2" class="col-sm-3 col-form-label text-right">number2:</label>
			    <div class="col-sm-5">
			      <input type="number" class="form-control" step="any" id="num2" name="num2" th:value="${num2}" required>
			    </div>
			  </div>
			    <div class="form-group row">
			      <label for="operation" class="col-sm-3 col-form-label text-right">operation:</label>
			      <div class="col-sm-5">
			      <select class="form-control custom-select" id="operation" name="operation" required>
					   <option value=""  th:selected="${operation == '' }">Select an Operation</option>
		                <option value="+" th:selected="${operation == '+'}">Addition</option>
		                <option value="-" th:selected="${operation == '-'}">Subtraction</option>
		                <option value="*" th:selected="${operation == '*'}">Multiplication</option>
		                <option value="/" th:selected="${operation == '/'}">Division</option>
		                <option value="%" th:selected="${operation == '%'}">Modulus</option>
				   </select>
			       </div>
			     </div>
			     <div class="form-group row" th:if="${!#strings.isEmpty(res)}">
			         <label for="res" class="col-sm-3 col-form-label text-right">result:</label>
			         <div class="col-sm-5">
			            <input type="text" class="form-control"  th:value="${#numbers.formatDecimal(res,1,2)}" readonly>
			           
			         </div>
			      </div>
			     
			     

			  <div class="text-center mt-4">
			      <button type="submit" class="btn btn-primary btn-lg">Calculate</button>
              </div>
		   </form>
		  
        </div>
   </div>
   
</body>
</html>